<div class="cart-modal" id="cart-modal" style="display: none;">
  <div class="cart-modal__overlay" onclick="closeCartModal()"></div>
  <div class="cart-modal__content">
    <h2>Tu Carrito</h2>
    <div class="cart-items">
      {% render 'cart-items' %}
    </div>
    <button class="cart-modal__close" onclick="closeCartModal()">Cerrar</button>
  </div>
</div>
